header, hgroup, nav, footer, figure, figcaption, aside, section, article { display: block; }

#mobile{
	display:none;	
}

#desktop{
	display:inline;	
}


body {
	background-color:#999999;
	font-family: Verdana, Arial, sans-serif;
	color: #2E0000;
}



#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: #e98a8a;
	min-width: 960px;
    max-width: 1152px; 
}

h1 {
	background-image:url(../Images/HeaderLogo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:100% 100%;
	height: 100px;
	text-indent: -9999px;
	margin-bottom: 0px;
	margin-bottom: 0;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
}

#LoginNav {
    text-align:right;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0px 0px 180px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    background-color: #FFF;
}

#LoginNav a { text-decoration: none; }

#LoginNav a:link { color:#003; }	

#LoginNav a:visited { color:#666 }

#LoginNav a:hover { text-shadow: #e98a8a 0.1em 0.1em 0.0em; } 

#MenuNav {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 180px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    background-color: #FFF;
    border-color: #000;
    border-top: solid;
    border-bottom: solid;
    border-width: 5px;
}

#MenuNav a { text-decoration: none; }

#MenuNav a:link { color:#003; }	

#MenuNav a:visited { color:#003; }

#MenuNav a:hover { text-shadow: #e98a8a 0.1em 0.1em 0.0em; } 

#UserLinks{
	font-size:14px;
	font-weight:400;
	text-align:right;
	padding: 0px 5px 0px 0px;
}

#UserTitle {
    text-decoration: none;
	text-align: center;
	padding: 20px;
	display: block;
    border-bottom: 3px solid #FFF;

}

#AdminTitle {
    text-decoration: none;
	text-align: center;
	padding: 20px;
	display: block;
    border-bottom: 3px solid #FFF;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display:list-item; /* display the dropdown */
}

nav{
	float: left;
	width: 175px;
	font-weight: bold;
	letter-spacing: 0.1em;	
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

nav a{
	text-decoration: none;
	text-align: center;
	padding: 10px;
	display: block;
	background-color: #e98a8a;
	border-bottom: 1px solid #FFFFFF;	
}

nav a:link {
	color: #FFFFFF;	
}

nav a:visited{
	color: #EAEAEA;
}

nav li:nth-of-type(1) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
}

nav li:nth-of-type(2) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
}

nav li:nth-of-type(3) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
	
}

nav li:nth-of-type(4) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
}

nav li:nth-of-type(5) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
}

nav li:nth-of-type(6) a:hover {
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.0em;
}


#content{
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
	margin-left: 175px;
    min-height: 550px;
}

#content img{
	float: left;
	padding-right: 40px;
	padding-left: 40px;
}

#content ul{
	list-style-position: inside;
	list-style-type: none;

}

#content div{
	overflow: auto;
	padding-left: 40px;
	padding-right: 40px;	
}

dt{
	font-weight: bold;	
}

dd {
	padding-left: 20px;
}

header {
	background-color: #d9d9d9;
}

footer {
	padding: 20px;
	text-align: center;
	font-style: italic;
	background-color: #d9d9d9;
	color: #000000;	
}

h2 {
	background-color: #e98a8a;
	color: #FFFFFF;
	padding-left: 10px;
	text-transform: uppercase;
}

h3 {
	background-color: #e98a8a;
	color: #FFFFFF;
	padding-left: 10px;
	text-transform: uppercase;
}

p{
	padding-left: 10px;
	padding-top: 10px;
	text-indent: 50px;
}

b {
	padding-left: 20px;	
}

table {
	margin: auto;
	width: 90%;
}

td {
	text-align: center;
	padding: 5px;
}


#lineUpsAway{
	width: 20%;
	margin: auto;	
	margin-left: 15%;
	float: left;
}

#lineUpsHome{
	width: 20%;
	margin: auto;	
	margin-right: 20%;
	float: right;
}

#ScoringSummeryCenter{
	margin-right: 10%;
	margin-left: 10%;	
}

iframe{
	margin-right: 20%;
	margin-left: 20%;
}

#PhilliesHome p:first-letter{
	font-size:200%;
	color:#F00;
}

#YankeesHome p:first-letter{
	font-size:200%;
	color:#006;
}

.dateLayout table {
	margin: auto;
	width: 80%;
}

.dateLayout td, th{
	padding: 10px;	
}

.dateLayout tr:nth-of-type(odd){
		background-color: #e98a8a;
		color:#FFF;
}

#gallery{
	position:relative;	
}

figure{
	position:absolute;
	left: 280px;
	text-align:center;
	opacity:.25;	
}

#CinderellaInfoTable {
    float:left;
}

#ReferralInfoTable {
    float:left;
}

#VolunteerInfoTable {
    float:left;
}

#AddAcctTable {
    float:left;
}

#AccMngTable {
    float:left;
    border-collapse: collapse;
}

#AccMngTable td{
    padding: 10px;
}
#ManualPairTable {
    float: left;
    padding: 10px;
}
#middleRow {
 border-top: 1px solid #999999;
 border-bottom: 1px solid #999999;
}

#EditAcctTable {
    float:left;
}

#DeleteAcctTable {
    float:left;
}


@media only screen and (max-width: 768px){
	
	body{
		margin: 0px;
	}
	
	#wrapper{
		min-width: 0px;
		width: auto;	
	}
	
	h1{
		background-image:url(Images/Logo2009Ws.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size:100% 100%;
		margin: 0px;	
	}
	
	#content{
		margin-left: 0px;	
	}
	
	nav{
		float:none;
		width:auto;
		padding: 0px;	
	}
	
	nav ul{
		text-align:center;	
	}
	
	nav li:nth-of-type(odd) a:hover {
		background-image:none;
		background-color:#999;
		color: #FFF;
		text-shadow: black 0.1em 0.1em 0.0em;
	}	
	
	nav li:nth-of-type(even) a:hover {
		background-image:none;
		background-color:#999;
		color: #FFF;
		text-shadow: black 0.1em 0.1em 0.0em;
	}
	
	section{
		padding: 0px;	
	}
	
	#content ul{
		clear: left;
		padding-top: 1em;	
	}
	
	
	
}
	
@media only screen and (max-width: 480px){
	
	body{
		margin: 0px;	
	}
	
	#wrapper{
		width: auto;
		min-width: 0px;
		margin: 0px;	
	}
	
	h1{
		margin: 0px;
	}
	
	#content{
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;	
		margin: 0px;
		font-size: 90%;
	}
	
	nav ul{
		padding: 0px;
	}
	
	nav a{
		display:block;
	}
	
	#content img{
		float:none;
		padding: 0px;
		margin: 0.1em;
	}
	
	#umpire img{
		width:50PX;
		height: 50px;
	}
	
	section{
		padding: 0px;
	}
	
	section img{
		display:none;	
	}
	
	
	
	#mobile {
		display:inline;	
	}
	
	#desktop{
		display:none;	
	}
	
	
}

