<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=db.cisdept.thomasmore.edu,50336;Initial Catalog=CinderellaMGS2015Testing;Persist Security Info=True;User ID=Cinderella2015;Password=pinkdresses"
      providerName="System.Data.SqlClient" />
    <add name="CinderellaMGS2015TestingConnectionString" connectionString="Data Source=db.cisdept.thomasmore.edu,50336;Initial Catalog=CinderellaMGS2015Testing;Persist Security Info=True;User ID=Cinderella2015;Password=pinkdresses"
      providerName="System.Data.SqlClient" />
    <add name="CinderellaMGS2015TestingConnectionString2" connectionString="Data Source=db.cisdept.thomasmore.edu,50336;Initial Catalog=CinderellaMGS2015Testing;Persist Security Info=True;User ID=Cinderella2015;Password=pinkdresses"
      providerName="System.Data.SqlClient" />
    <add name="GAIGConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=CinderellasCloset2015Testing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>

