<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="&#xD;&#xA;         Server=db.cisdept.thomasmore.edu,50336;&#xD;&#xA;         Database=cinderellaMGS2013DataForClass;&#xD;&#xA;         User ID=cinderellamgs;&#xD;&#xA;         Password=cinderellamgs2012;" />
    <add name="CinderellaLauncher.Properties.Settings.CinderellaMGS2012ConnectionString_Main"
      connectionString="Data Source=10.30.100.129,2013;Initial Catalog=CinderellaMGS2012;Persist Security Info=True;User ID=cinderellamgs;Password=cinderellamgs2012"
      providerName="System.Data.SqlClient" />
    <add name="CinderellaLauncher.Properties.Settings.HistoryConnectionString"
      connectionString="Data Source=|DataDirectory|\Chat\Squiggle.UI\bin\x86\Debug\History.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CinderellaLauncher.Properties.Settings.HistoryConnectionString1"
      connectionString="Data Source=|DataDirectory|\Chat\Code\Squiggle.Chat\History\DAL\History.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CinderellaLauncher.Properties.Settings.HistoryConnectionString2"
      connectionString="Data Source=|DataDirectory|\Chat\Code\Squiggle.UI\bin\x86\Debug\History.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CinderellaLauncher.Properties.Settings.HistoryConnectionString3"
      connectionString="Data Source=|DataDirectory|\Chat\Squiggle.Chat\History\DAL\History.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="CinderellaLauncher.Properties.Settings.HistoryConnectionString4"
      connectionString="Data Source=|DataDirectory|\Forms\ChatHere\Chat\Squiggle.Chat\History\DAL\History.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>